<h2>What We're Saying</h2>
<div class="scrolls">
  <%= render partial: "/shared/tweet", locals: { account: @alex } %>
  <%= render partial: "/shared/tweet", locals: { account: @garry } %>
  <%= render partial: "/shared/tweet", locals: { account: @james } %>
</div>

<h2>What They're Saying</h2>
<div class="scrolls">
  <%= render partial: "/shared/tweet", locals: { account: @tokyo } %>
</div>
