<h1>Tokyo Wego</h1>
<div class="scrolls">
  <%= render partial: "/shared/tweet", locals: { account: @alex } %>
  <%= render partial: "/shared/tweet", locals: { account: @garry } %>
  <%= render partial: "/shared/tweet", locals: { account: @james } %>
  <%= render partial: "/shared/tweet", locals: { account: @tokyo } %>
</div>
